<!DOCTYPE html>
<html lang="es"
xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>🍔 Restaurante | Spring Boot</title>

<link rel="stylesheet"
th:href="@{/css/style.css}">

</head>


<body>


<header>

<h1>🍔 Restaurante</h1>


<nav>

<a href="/">Inicio</a>

<a href="/clientes">Clientes</a>

<a href="/mesas">Mesas</a>

<a href="/productos">Productos</a>

<a href="/categorias">Categorías</a>

<a href="/pedidos">Pedidos</a>

</nav>


</header>



<section class="hero">


<h2>

Sistema de Gestión del Restaurante

</h2>


<p>

Administra clientes, mesas, productos y pedidos desde una única aplicación.

</p>


</section>





<section class="dashboard">



<a href="/clientes"

class="card">


<span>👤</span>


<h3>Clientes</h3>


<p>

Gestiona los clientes registrados.

</p>


</a>




<a href="/mesas"

class="card">


<span>🪑</span>


<h3>Mesas</h3>


<p>

Control de mesas disponibles.

</p>


</a>





<a href="/productos"

class="card">


<span>🍕</span>


<h3>Productos</h3>


<p>

Administra la carta del restaurante.

</p>


</a>





<a href="/categorias"

class="card">


<span>📂</span>


<h3>Categorías</h3>


<p>

Organización de productos.

</p>


</a>





<a href="/pedidos"

class="card">


<span>📋</span>


<h3>Pedidos</h3>


<p>

Gestiona los pedidos realizados.

</p>


</a>



</section>





<footer>

🍔 Restaurante © 2026

</footer>



</body>


</html>